/* Custom styles for your documentation site */

/* Shape, Icons, etc customization */
:root {
  --wonderland-accent: #ff0420;
}

/* Optimism-specific menu icons */
.menu__list-item-collapsible .menu__link[href^="/docs/stack"]::before {
  background-image: url("/img/icons/stack-icon-filled.svg");
}

.menu__list-item-collapsible
  .menu__link[href^="/docs/interoperability"]::before {
  background-image: url("/img/icons/interop-icon.svg");
}

.menu__list-item-collapsible .menu__link[href^="/docs/governance"]::before {
  background-image: url("/img/icons/governance-icon-filled.svg");
}

.menu__list-item-collapsible .menu__link[href^="/docs/processes"]::before {
  background-image: url("/img/icons/processes-icon-filled.svg");
}

.menu__list-item-collapsible .menu__link[href^="/docs/guides"]::before {
  background-image: url("/img/icons/guidelines-icon-filled.svg");
}

/* Font for Optimism category titles */
.theme-doc-sidebar-item-category
  .menu__list-item-collapsible
  .menu__link[href^="/docs/stack"],
.theme-doc-sidebar-item-category
  .menu__list-item-collapsible
  .menu__link[href^="/docs/interoperability"],
.theme-doc-sidebar-item-category
  .menu__list-item-collapsible
  .menu__link[href^="/docs/governance"],
.theme-doc-sidebar-item-category
  .menu__list-item-collapsible
  .menu__link[href^="/docs/processes"],
.theme-doc-sidebar-item-category
  .menu__list-item-collapsible
  .menu__link[href^="/docs/guides"] {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  letter-spacing: 0.03em;
  color: var(--wonderland-accent);
  text-transform: uppercase;
  font-size: 0.8rem !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
